/* Global Styles */
$green: rgb(27, 131, 60);

* { 
    box-sizing: border-box;
    moz-box-sizing: border-box;
}
body {
    font-family: 'Average Sans', sans-serif;
    color: #333;
    position: relative;
    min-height: 100vh;
    background: white;
    font-size: 16px;
}
a {
    color: $green;
}
h1,h2,h3,h4,h5,h6 {
    line-height: 1em;
}
h2 {
    margin: 0;
    font-size: 2em;
}
h3 {
    font-size: 1.2em;
    color: #0D3F1D;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
}
h4 {
    font-size: 1em;
}
.clearfix {
    &:before,
    &:after {
    content: " ";
    display: table;
    }

    &:after {
    clear: both;
    }
}
.body-wrapper {
    min-height: 100vh;
}
.container {
    width: 75%;
    margin: 0 auto;
}
.page-container {
    padding: 100px 0 50px 0;
}
::selection {
    background: rgb(40, 192, 58);
    color: #222;
}
::-moz-selection {
    background: rgb(40, 192, 58);
    color: #222;
}

/* Header and Navigation */
header {
    border-top: 3px solid $green;
    border-bottom: 1px solid #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: 'Fjalla One', sans-serif;
        font-weight: 400;
        padding: 13px 0 10px 0;
        margin: 0;
        display: inline-block;
        font-size: 4em;
        letter-spacing: -2px;

        a {
            color: #333;
            text-decoration: none;
        }
    }
}
#nav-main {
    display: inline-block;
    ul {
        margin: 0;
        padding: 0;
        margin-left: 20px;
    }

    li {
        display: inline-block;
        margin-right: 15px;
    }

    a {
        text-decoration: none;
        padding: 5px;
        display: inline-block;
        position: relative;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            border-bottom: 2px solid $green;
            // .transition(all .2s linear);
            opacity: 0;
        }

        &:before {
            top: 0;
            // .transform(translateY(-100px));
        }

        &:after {
            bottom:0;
            // .transform(translateY(100px));
        }

        &:hover,
        &.current {
            &:after {
                // .transform(translateY(0));
                opacity: 1;
            }
            &:before {
                opacity: 1;
                // .transform(translateY(0));
            }
        }
    }
}
header .nav-toggle {
    display: none;
}
#nav-responsive {
    display: none;
}
/* End Header & Navigation */

.main-wrap { 
    width: 100vw;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0 50px 0;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 10px;
  font-size: .8em;
}

/* Page Specific */

/* Intro */
#intro {
    text-align: center;

    h2 {
        margin: 0;
    }
    p {
        margin-top: 0;
    }
}
#passions {
    display: inline-block;
    color: $green;
    position: relative;
    height: 100px;
    width: 300px;
    overflow: hidden;
    line-height: 87px;
    vertical-align: middle;
    transition: width .2s ease-out;

    span {
        display: block;
        position: absolute;
        white-space: nowrap;
        transition: top .5s ease-out;

        &.before {
            top: -100px;
        }
        &.current {
            top: 0;
        }
        &.after {
            top: 100px;
        }
    }
}
/* End Intro */

/* Projects */
.projects article {
    margin-bottom: 25px;
}
.projects article img {
    width: 200px;
    float: left;
    margin-right: 30px;
}
.projects article h3 {
    margin: 0;
}
.projects {
    .projects-container {
        display: flex;
    }
    .project {
        width: 250px;
        margin: 5px;
        text-align: center;

        .proj-img {
            overflow: hidden;
            border: 2px solid #777;

            img {
                height: 250px;
                transform: scale(1.5) rotate(20deg);
                transition: transform .2s linear, -webkit-filter .2s linear;
                -webkit-filter: grayscale(1);

                &:hover {
                    transform: scale(1) rotate(0);
                    -webkit-filter: grayscale(0);
                }
            }
        }
    }

}
/* End Projects */