.post-header {
  h1 {
    margin: 0;
    font-weight: 300;
    font-size: 42px;
    display: inline-block;
  }
  .post-meta {
    margin-top: 0;
    color: #bbb;
    font-size: 18px;
    display: inline-block;
    padding-left: 15px;
  }
  h2 a {
    text-decoration: none;
    font-weight: 300;
    font-size: 28px;
    display: inline-block;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      border-bottom: 1px solid;
    }
  }
}
ol,ul li {
  >ul,ol {
    margin: 3px 0;
    padding-left: 19px;
  }
}
.post-content {
  line-height: 1.4em;
  
  h3 {
    font-size: 20px;
    margin-bottom: -5px;
  }
  h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
  blockquote {
    border-left: 5px solid green;
    padding: 5px 10px;
    font-size: 20px;
    color: #999;
    font-style: italic;
    background: #fcfcfc;
  }
  hr {
    border-bottom: 1px solid #ccc;
    width: 75%;
  }
  img {
    border: 2px solid #ddd;
  }
}
.post .post-header {
  h2.post-title {
    display: inline-block;

    a {

    }
  }
  .post-date {
    display: inline-block;
    padding-left: 10px;
    color: #bbb;
  }
}
footer.post-meta {
  img.author-thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

footer.post-footer {
  img {
    width: 35px;
    border-radius: 50%;
    float: left;
  }
  .author h4 {
    margin: 0;
    float: left;
  }
  .tags {
    text-transform: uppercase;
    color: #888;
    font-size: 13px;

    a {
      text-decoration: none;
      padding: 0 2px;
      text-transform: lowercase;
    }
  }
}

.share {
  padding: 10px 0;
  border-top: 1px solid #ddd;

  h4 {
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #666;
    font-size: 13px;
  }
  .fa {
    font-size: 36px;
    text-decoration: none;
    display: inline-block;
    color: #539468;
  }

  .hidden {
    display: none;
  }
}
nav.pagination {
  text-align: center;
  color: #aaa;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 25px;
}
blockquote {
  border-left: 5px solid green;
  padding: 5px 10px;
  font-size: 20px;
  font-style: italic;
  color: #bbb;
  
  p {
    margin: 0;
  }
}
