/* Global Styles */
@green: rgb(27, 131, 60);

html,body {
	min-height: 100%;
	height: 100%;
}
body {
		font-family: 'Average Sans', sans-serif;
		color: #333;
		position: relative;
}
a {
		color: @green;
}
h2 {
	margin: 0;
	font-size: 32px;
}
h3 {
	font-size: 18px;
	color: #0D3F1D;
	font-family: 'Fjalla One', sans-serif;
	font-weight: 400;
}
h4 {
	font-size: 14px;
}
::selection {
	background: rgb(40, 192, 58);
	color: #222;
}
::-moz-selection {
	background: rgb(40, 192, 58);
	color: #222;
}
header#main-header {
	border-top: 3px solid @green;
	border-bottom: 1px solid #f8f8f8;
	box-shadow: 0 0 5px 5px rgba(224, 224, 224, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	background: white;
	overflow: hidden;

	h1 {
		font-family: 'Fjalla One', sans-serif;
		font-weight: 400;
		padding: 13px 0 10px 0;
		margin: 0;
		display: inline-block;
		font-size: 44px;
		letter-spacing: -2px;

		a {
			color: #333;
			text-decoration: none;
		}
	}
	nav {
		display: inline-block;
		ul {
			margin: 0;
			padding: 0;
			margin-left: 20px;
		}

		li {
			display: inline-block;
			margin-right: 15px;
		}

		a {
			text-decoration: none;
			font-size: 16px;
			padding: 5px;
			display: inline-block;
			position: relative;

			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				border-bottom: 2px solid @green;
				.transition(all .2s linear);
				opacity: 0;
			}

			&:before {
				top: -100px;
			}

			&:after {
				bottom: -50px;
			}

			&:hover,
			&.current {
				&:after {
					bottom: 0;
					opacity: 1;
				}
				&:before {
					opacity: 1;
					top: 0;
				}
			}
		}
	}
}

.container {
	width: 75%;
	margin: 0 auto;
}
.page-container {
	padding: 100px 0 100px 0;
}

/* End Global Styles */

/* Page Specific */

/* Intro */
#intro {
	text-align: center;

	h2 {
		margin: 0;
		font-size: 44px;
	}
	p {
		margin-top: 0;
	}
}
#passions {
	display: inline-block;
	color: @green;
	position: relative;
	height: 100px;
	width: 300px;
	overflow: hidden;
	line-height: 87px;
	vertical-align: middle;
	.transition(width .2s ease-out);

	span {
		display: block;
		position: absolute;
		white-space: nowrap;
		.transition(top .5s ease-out);

		&.before {
			top: -100px;
		}
		&.current {
			top: 0;
		}
		&.after {
			top: 100px;
		}
	}
}
/* End Intro */

/* Projects */
.projects article {
	margin-bottom: 25px;
}
.projects article img {
	width: 200px;
	float: left;
	margin-right: 30px;
}
.projects article h3 {
	margin: 0;
}
.projects article p {

}
/* End Projects */