.transition (@params) {
	transition: @params;
	-webkit-transition: @params;
	-moz-transition: @params;
	-ms-transition: @params;
}

.userSelectNone() {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}