---
title: 'About'
isAbout: true
---

<div class="coming-soon">
	<h2>All About Me</h2>

	<p>Welcome to my personal website, but the first thing you should know is that I'm a man of few words.  I work for a company called <a href="http://www.foliotek.com" target="_blank">Foliotek</a> in Columbia, MO.  I specialize in front end development (javascript, css, html), but also have several years of experience with backend development.</p>

	<p>At Foliotek we extensively use C# ASP.NET, and our apps spread from MVC to Web Forms, and even to WPF.  While I'm very fluent in C#, my front end passion has also lead me to expand my horizons with javascript.  Which has lead to my experience with NodeJS.  It's only a passion, for now, I've written several nodejs applications and hope to continue to build more in the future.  A few colleagues of mine and I have even placed in a NodeKnockout competition.
	</p>

	<p>Beyond work, I have a few other hobbies.  Being a programmer, most of my work time is spent indoors, so I try to be outdoors as much as possible in my free time.  This has lead me to hobbies such as (but not limited to) kayaking, frisbee, and biking.  Now when I say kayaking, I don't mean it in the sense that most of you take it.  When I kayak, it's mostly on still water (here in Missouri), and just casually floating around and occasionally having a drink.  Not the whitewater kayaking that so many of you imagine, although I'm not against it.  Speaking of kayaking, I recently built my own boat.  I have plans of writing a blog post on it, but haven't gotten to it yet (actually haven't even set up the blog yet).</p>
	<p>

	<p>I'm still working on this site, so you'll have to bare with me, but I'm making some progress.  Eventually it'll come along.  However few of you are reading this, stay tuned.</p>
</div>