---
title: 'Contact'
isContact: true
---
{{#extend "page"}}
{{#content "content"}}
<div class="coming-soon">
	<h2>Contact Coming Soon</h2>
	<p>I'll have a contact page up here soon enough</p>
</div>
{{/content}}
{{/extend}}