---
title: 'Home'
---

<div id="intro">
	<h2>Hi, I'm Dustin and I'm a web developer.</h2>
	<p class="intro">
		I'm currently a developer at Foliotek in Columbia, Missouri.  I have full stack experience, but my passion is in the front end.  I love exploring the possibilities of Javascript.
	</p>
</div>