---
title: 'Projects'
isProjects: true
---
{{#extend "page"}}
{{#content "content"}}
<div class="projects">
	<h2>Projects</h2>
	<div class="projects-container">
		<div class="project">
			<h3>Nodezaic</h3>
			<div class="proj-img">
			<img src="/img/nodezaic.png" />
			</div>
		</div>
		<div class="project">
			<h3>Golf With Friends</h3>
			<div class="proj-img">
			<img src="/img/golf-with-friends.png" />
			</div>
		</div>
		<!--
		<div class="project">
			<h3>Compass Church</h3>
			<div class="proj-img">
			<img src="/img/compass.png" />
			</div>
		</div>
		<div class="project">
			<h3>Foliotek Presentation</h3>
			<div class="proj-img">
			<img src="/img/foliotek-presentation.png" />
			</div>
		</div>-->
	</div>
</div>

{{/content}}
{{/extend}}