---
title: "Dustin Smith's Resume"
omitScripts: true
---
{{#extend "base"}}
{{#content "body"}}
<div id="resume">
	<h1>Dustin Smith</h1>

	<div class="contact">
		<div class="email"><a href="mailto:thedustinsmith@gmail.com">thedustinsmith@gmail.com</a></div>
		<div class="phone"><a href="tel:5732272202">573.227.2202</a></div>
	</div>

	<section class="employment">
		<h2 class="gray-header">Employment</h2>
		<div class="entry">
			<h3>Foliotek Inc <span class="dates">2009 - <em>[Present]</em></span></h3>
			<span class="sub-header">Project Lead</span>
			<p class="description">Lead several different projects.  Specialized in front end development using Javascript, jQuery, and Backbone.  Developed on the full stack: C# ASP.NET Webforms & MVC, PHP, NodeJS, and MSSQL.  Also did a considerable amount of server management.</p>
		</div>
	</section>

	<section class="education">
		<h2 class="gray-header">Education</h2>
		<div class="entry">
			<h3>University of Missouri - Columbia <span class="dates">2006 - 2010</span></h3>
			<span class="sub-header">Bachelor of Science in Information Technology</span>
	</section>

	<section class="experience">
		<h2 class="gray-header">Experience</h2>

		<div class="skill">
			<label>Javascript</label>
			<div class="bar bar-5 b1">5+ years</div>
		</div>
		<div class="skill">
			<label>C# MVC/WebForms</label>
			<div class="bar bar-5 b2">5+ years</div>
		</div>
		<div class="skill">
			<label>NodeJS</label>
			<div class="bar bar-2 b3">2+ years</div>
		</div>
		<div class="skill">
			<label>Html/CSS</label>
			<div class="bar bar-10 b4">10+ years</div>
		</div>
	</section>

	<section class="awards">
		<h2 class="gray-header">Awards</h2>
		<div class="entry">
			<h3>NodeKnockout 2014 <span class="dates">November 2014</span></h3>
			<span class="sub-header">Top 20</span>
			<p class="description">My team built a mosaic generator using bleeding edge HTML5 features of javascript, and used Node as our backend to share mosaics, and use other people's images to help create your mosaic.  It's not in current development anymore, but you can find it at <a href="http://www.imgzaic.com" target="_blank">www.imgzaic.com</a>.</p>
	</section>

</div>
{{/content}}
{{/extend}}