<ul>
	<li><a href="about.html" class="{{#isAbout}}current{{/isAbout}}">About</a></li>
	<li><a href="projects.html" class="{{#isProjects}}current{{/isProjects}}">Projects</a></li>
	<li><a href="contact.html" class="{{#isContact}}current{{/isContact}}">Contact</a></li>
</ul>