---
layout: base.hbs
---

<header>
	<div class="container clearfix">
		<h1><a href="/">Dustin Smith</a></h1>

		<nav class="nav-left">
			<ul>
				<li><a href="about.html" class="{{#isAbout}}current{{/isAbout}}">About</a></li>
				<li><a href="projects.html" class="{{#isProjects}}current{{/isProjects}}">Projects</a></li>
				<li><a href="contact.html" class="{{#isContact}}current{{/isContact}}">Contact</a></li>
			</ul>
	</nav>
	</div>
</header>

<div class="page-container container">
{{> body }}
</div>