{{#extend "base"}}
{{#content "body"}}
<header id="main-header">
	<div class="container clearfix">
		<nav id="nav-responsive">
			{{> menu }}
		</nav>

		<h1><a href="/">Dustin Smith</a></h1>

		<nav id="nav-main">
			{{> menu }}
		</nav>
		<button class="fa fa-bars nav-toggle"></button>
	</div>
</header>

<div class="page-container container clearfix">
	{{#block "content"}}
	{{/block}}
</div>

<footer class="site-footer">
	&copy; Dustin Smith - 2015
</footer>
{{/content}}
	{{#block "scripts" mode="append"}}{{/block}}
{{/extend}}